/* ---------------------------Body and Container-------------------------- */

	body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Arial, sans-serif;
		color: #494949;
	}
	
	#container{
		margin: 10px;
		border: 1px solid #494949;
		width: 400px;
	}
	
/* ---------------------------Anchors-------------------------- */
	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}
	
/* ---------------------------Headers-------------------------- */

	h1 {
		color: #f15a24;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font: Rockwell, serif;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}


/* ---------------------------Body Div-------------------------- */
	#body{
		margin: 0 15px 0 15px;
	}
	

/* ---------------------------Media Queries-------------------------- */

	@media (min-width:320px) {
	 /* iphone portrait*/ 
	 }
	 
	@media screen and (max-device-width: 480px) { 
	/*iphone landscape*/ 
	}
	
	@media (min-width:768px) { 
	/* iPad */ 
	}
	
	@media (min-width:1024px) { 
	/* laptops and desktops */ 
	}